

body {
    background-color: beige;
}

#container{
    height: 200px;
    width: 500px;
    border: 10px salmon;
    margin:  50px auto;
}

h1{
    text-align: center;
    color: rgb(13, 87, 152);

}

#number {
    height: 25px;
    width: 250px;
    margin: 50px auto;
    background-color: bisque;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#increment{
    height: 25px;
    width: 250px;
    margin-left: 25%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(171, 75, 43);
    text-align: center;
    color: rgb(255, 255, 255);
}

#message {
    height: 25px;
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 50px auto;
    background-color: rgb(134, 167, 59);
    text-align: center;
    color: rgb(255, 255, 255);
}