
body {
    display: flex;
    background-image : url(../img/backround.jpg);
    flex-direction: column;
    background-size : cover;

}


header {
   background-color: rgb(195, 72, 72);

}

.title{
    text-align: center;
    padding-top: 2%;
}


footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color:rgb(195, 72, 72) ;
}

#spiderman , #hulk {
   display: inline-block;
   
}

.movieContainer {
    margin: auto;
  width: 60%;
  border: 3px solid #9a351c;
  background-color: #ac6d5ec2;
  padding: 10px;
}

.formContainer{
    margin: auto;
    width: 60%;
    border: 3px solid #9a351c;
    padding: 10px;
    background-color: #ac6d5ec2;

}